<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<style>
    #barra{
    margin: 0;
    padding: 0;
    list-style: none;
    text-transform: uppercase;
    }
    #barra li{
    display: inline;
    margin: 0 20px;
    }
</style>
<body>
<ul id="barra">
    <li>Home</li>
    <li>Servicios</li>
    <li>Acerca</li>
    <li>Contacto</li>
    <li>Contacto</li>
</ul>

</body>
</html>